/*grid*/

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container{
  max-width: 960px;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

/*Para Criar linhas*/
.row {
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}


@media (min-width: 500px){
  .row {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
    }
  /* Grid */
  .uma.colunas {
    flex-basis: calc(8.33333333% - 20px);
    max-width: calc(8.33333333% - 20px);
    margin: 0 10px;
  }
  .duas.colunas {
    flex-basis: calc(16.66666667% - 20px);
    max-width: calc(16.66666667% - 20px);
    margin: 0 10px;
  }
  .tres.colunas {
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 0 10px;
  }
  .quatro.colunas {
    flex-basis: calc(33.33333333% - 20px);
    max-width: calc(33.33333333% - 20px);
    margin: 0 10px;
  }
  .cinco.colunas {
    flex-basis: calc(41.66666667% - 20px);
    max-width: calc(41.66666667% - 20px);
    margin: 0 10px;
  }
  .seis.colunas {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 0 10px;
  }
  .sete.colunas {
    flex-basis: calc(58.33333333% - 20px);
    max-width: calc(58.33333333% - 20px);
    margin: 0 10px;
  }
  .oito.colunas {
    flex-basis: calc(66.66666667% - 20px);
    max-width: calc(66.66666667% - 20px);
    margin: 0 10px;
  }
  .nove.colunas {
    flex-basis: calc(75% - 20px);
    max-width: calc(75% - 20px);
    margin: 0 10px;
  }
  .dez.colunas {
    flex-basis: calc(83.33333333% - 20px);
    max-width: calc(83.33333333% - 20px);
    margin: 0 10px;
  }
  .onze.colunas {
    flex-basis: calc(91.66666667% - 20px);
    max-width: calc(91.66666667% - 20px);
    margin: 0 10px;
  }
  .doze.colunas {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 0 10px;
  }

}

/*grid - FIM*/
