/*container centralizado*/ 
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}
.container{
  max-width: 960px;
}
.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}
/*Para Criar linhas*/
.row {
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}


@media (min-width: 500px){
.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
/* Grid */
.uma.colunas {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.duas.colunas {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.tres.colunas {
  flex-basis: 25%;
  max-width: 25%;
}
.quatro.colunas {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.cinco.colunas {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.seis.colunas {
  flex-basis: 50%;
  max-width: 50%;
}
.sete.colunas {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.oito.colunas {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.nove.colunas {
  flex-basis: 75%;
  max-width: 75%;
}
.dez.colunas {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.onze.colunas {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.doze.colunas {
  flex-basis: 100%;
  max-width: 100%;
}

}