/*Tipografia*/

html{
    font-size: 16px; /* definição de tamanho padrão de texto */
    line-height: 20px; /*definição de tamanho padrão para linha de texto*/
    font-family: Arial, Helvetica, sans-serif; /*definição padrão da fonte de todo o texto*/
}

.font-organic{
    font-family: Courier New, Courier, monospace;
}

/*Tipografia - FIM*/
